@charset "utf-8";
.textIconType1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 24px;
    color: #ffffff;
    font-size: 13px;
    border-radius: 3px;
    background: #f24e1e;
}
.textIconType2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 24px;
    color: #ffffff;
    font-size: 13px;
    border-radius: 3px;
    background: #5da27f;
}
