@charset "utf-8";
/* colors */
$PrimaryColor: #3f71d1;
$PrimaryOff: #92b1ed;
$textTitle: #2a2a2a;
$textDefault: #535353;
$textSecondary: #989898;
$backColor: #f5f5f5;
/* input */
$inputColor: #dcdcdc;
/* text size */
$headerTitle: 1.88em; //30px
$titleText: 1.25em; //20px
$defaultText: 0.94em; //15px
$defaultTitle: 1.5em; //24px
$secondText: 0.88em; //14px
$therdText: 0.81em; //13px
$btnText: 16px;
/* radius */
$radiusDefault: 10px;
$radiusSmall: 5px;

/****** home ******/
/*swiper*/
.swiperEvent {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;

    .swiper {
        width: 100%;
        height: 270px;
    }

    .swiper-slide {
        height: 230px !important;
        overflow: hidden;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        border-radius: $radiusDefault;
        overflow: hidden;
    }

    .swiper-pagination {
        bottom: 0 !important;
        padding: 10px;
    }

    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background: url("../images/bullet.png") !important;
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}

/* main camp */
.mainCampClass {
    display: flex;
    justify-content: space-around;
    padding: 0 32px;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $therdText;
    }
}

.campClassIcon {
    display: flex;
    width: 58px;
    height: 46px;
    background-image: 100%;
    background-position: center;
}

.campClass1 {
    background: url("../images/campCate1.png") no-repeat;
}

.campClass2 {
    background: url("../images/campCate2.png") no-repeat;
}

.campClass3 {
    background: url("../images/campCate3.png") no-repeat;
}

.campClass4 {
    background: url("../images/campCate4.png") no-repeat;
}

/* main diary*/
.mainDiaryWrap {
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 32px;
    gap: 26px;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;

    .mainDiaryCard {
        border: solid 1px $inputColor;
        border-radius: $radiusDefault;
        overflow: hidden;

        .imgWrap {
            width: 100%;
            height: 220px;
            overflow: hidden;
            background: url("../images/imgdefault.png") no-repeat;
            background-size: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .textWrap {
            padding: 16px;
            color: $textTitle;
            font-size: $defaultText;

            .textTitle {
                display: -webkit-box;
                font-size: $defaultText;
                font-weight: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .textDate {
                margin-bottom: 16px;
                font-size: $therdText;
                color: $textSecondary;
            }

            .textCamp {
                display: flex;
                align-items: center;
            }

            .textCamp::before {
                content: "";
                display: flex;
                width: 24px;
                height: 24px;
                background: url("../images/iconCampCategory.png") no-repeat;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 360px) {
}
