@charset "utf-8";
/* colors */
$PrimaryColor: #3f71d1;
$PrimaryOff: #92b1ed;
$textTitle: #2a2a2a;
$textDefault: #535353;
$textSecondary: #989898;
$backColor: #f5f5f5;
$errerColor: #c50000;
$completeColor: #00ac1a;
/* input */
$inputColor: #dcdcdc;
/* text size */
$headerTitle: 1.88em; //30px
$titleText: 1.25em; //20px
$defaultText: 0.94em; //15px
$defaultTitle: 1.5em; //24px
$secondText: 0.88em; //14px
$therdText: 0.81em; //13px
$btnText: 16px;
/* radius */
$radiusDefault: 10px;
$radiusSmall: 5px;

/****** member ******/
.memberContainer {
    padding: 20px 32px;
    .logoWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $PrimaryColor;
        text-align: center;
    }
    .memberInfoText {
        font-size: $titleText;
        text-align: center;
    }
    .memberLink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 80%;
        margin: 40px auto 0 auto;
        p {
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: $textDefault;
            font-size: $secondText;
            font-weight: bold;
            a {
                color: $PrimaryColor;
                text-decoration: underline;
            }
        }
    }
}
.memberInputWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.timeWrap {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    font-size: $therdText;
}
.errerMessge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: $errerColor;
    font-size: $therdText;
    text-align: center;
}
.completeMessge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: $completeColor;
    font-size: $therdText;
    text-align: center;
}
/* trim */
.trimWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 360px) {
}
