@charset "utf-8";
/* colors */
$PrimaryColor: #3f71d1;
$PrimaryOff: #92b1ed;
$textTitle: #2a2a2a;
$textDefault: #535353;
$textSecondary: #989898;
$backColor: #f5f5f5;
$pointColor: #f24e1e;
/* input */
$inputColor: #dcdcdc;
/* text size */
$headerTitle: 1.88em; //30px
$titleText: 1.25em; //20px
$defaultText: 0.94em; //15px
$defaultTitle: 1.5em; //24px
$secondText: 0.88em; //14px
$therdText: 0.81em; //13px
$btnText: 16px;
/* radius */
$radiusDefault: 10px;
$radiusSmall: 5px;
.modalWrap {
    position: fixed;
    width: 530px;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 99;
}
.modal {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px 32px;
    bottom: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    background: #ffffff;
    box-shadow: 0 -4px 4px 0 rgba($color: #000000, $alpha: 0.15);
    z-index: 100;
}
.modal_Content {
    h2 {
        margin-bottom: 10px;
        font-size: 30px;
        font-family: "EunhasuR";
        text-align: center;
        background: -webkit-linear-gradient(#0b1f3e, $PrimaryColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.btnCloseType1 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: $PrimaryColor;
    box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.15);
    z-index: 100;
}
.btnCloseType2 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 20px;
    transform: translateX(-50%);
    border-radius: 50%;
    background: $PrimaryColor;
    box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.15);
    z-index: 100;
}
/*지역선택*/
.regionSelector {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 663px;
    margin-bottom: 20px;
    .cityGroup {
        display: flex;
        flex-direction: column;
        justify-content: start;

        button {
            width: 150px;
            height: 39px;
            border: solid 1px $inputColor;
            border-bottom: none;
            border-radius: 0;
        }
        button.active {
            color: #ffffff;
            background: $PrimaryColor;
        }
        button:last-child {
            border-bottom: solid 1px $inputColor;
        }
    }
    .cityWrap {
        width: 100%;
        height: 100%;
        background: $backColor;
    }
    .cityGroup2 {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: stretch !important;
        gap: 10px;
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        button {
            width: 120px;
            height: 40px;
            border: solid 1px $inputColor;
            border-radius: $radiusDefault;
        }
        button.active {
            border: solid 1px $PrimaryColor;
        }
    }
}
.selectedRegion {
    display: none;
    height: 20px;
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
    .modalWrap {
        width: 100%;
    }
}
@media screen and (max-width: 360px) {
}
