@charset "utf-8";
@import "../fonts/font.css";
// @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    color: #535353;
    font-family: "Pretendard-Regular";
}
ul,
li {
    list-style: none;
}
a,
a:link {
    text-decoration: none;
}
/* colors */
$PrimaryColor: #3f71d1;
$textTitle: #2a2a2a;
$textDefault: #535353;
$textSecondary: #989898;
/* text size */
$headerTitle: 30px;
$defualteText: 15px;
$defualteTitle: 24px;
$secondText: 14px;
$therdText: 13px;
/* input */
$inputColor: #dcdcdc;
/****** layout ******/
/*continer*/
section.backWrap {
    width: 100%;
    height: 100vh;
    background: url("../images/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    .wrap {
        display: flex;
        justify-content: right;
        width: 1024px;
        height: 100vh;
        margin: 0 auto;
    }
}
.containerWrap {
    width: 530px;
    height: 100vh;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.15);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.containerWrap::-webkit-scrollbar {
    width: 5px;
}
.containerWrap::-webkit-scrollbar-track {
    background: #ffffff;
}
.containerWrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $PrimaryColor;
}
.contentWrap {
}

/* header */
.headerType {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    color: $PrimaryColor;
    font-family: "EunhasuR";
    font-size: $headerTitle;
}
.headerType1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 0 32px;
    img {
        width: 55px;
        height: 44px;
    }
}
.headerType2 {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 530px;
    height: 64px;
    padding: 0 10px;
    z-index: 9;
    background: #ffffff;

    h2 {
        flex: auto;
        margin-left: -36px;
        color: $PrimaryColor;
        font-family: "EunhasuR";
        font-size: 30px;
        text-align: center;
    }
    h2.storeH2 {
        margin-left: -60px;
    }
    .btnWrap {
        display: flex;
        align-items: center;
        flex: none;
        width: 36px;
        height: 36px;
        cursor: pointer;
        z-index: 2;
    }
}
/* menu */
.menuWrap {
    position: fixed;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 530px;
    height: 70px;
    bottom: 0;
    background: #ffffff;
    box-shadow: 0 -2px 4px 0 rgba($color: #000000, $alpha: 0.25);
    a {
        width: 100%;
        height: 100%;
        color: $textTitle;
    }
    a.active {
        color: $PrimaryColor;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 100%;
        font-size: $secondText;
    }
    .icon {
        display: block;
        width: 24px;
        height: 24px;
        font-size: 0;
    }
    .menuHome {
        background: url("../images/menuHome.png") no-repeat;
    }
    .menuHomeActive {
        background: url("../images/menuHomeActive.png") no-repeat;
    }
    .menuLog {
        background: url("../images/menuLog.png") no-repeat;
    }
    .menuLogActive {
        background: url("../images/menuLogActive.png") no-repeat;
    }
    .menuStore {
        background: url("../images/menuStore.png") no-repeat;
    }
    .menuStoreActive {
        background: url("../images/menuStroreActive.png") no-repeat;
    }
    .menuUser {
        background: url("../images/menuUser.png") no-repeat;
    }
    .menuUserActive {
        background: url("../images/menuUserActive.png") no-repeat;
    }
}
/* footer */
.footerWrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 30px 32px;
    font-size: $secondText;
    background: #f8fafb;
    h2 {
        display: flex;
        width: 55px;
        height: 45px;
        font-size: 0;
        background: url("../images/footerlogo.png") no-repeat;
    }
    .customerLink::after,
    .customerLink::before,
    .copyright::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: $inputColor;
    }
    .customerLink {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        font-weight: bold;
    }
    .customerInfo {
        display: flex;
        gap: 20px;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 18px;
            border: solid 1px $inputColor;
            border-radius: 10px;
            background: #ffffff;
        }
        button::before {
            content: "";
            display: flex;
            width: 18px;
            height: 19px;
            border-radius: 10px;
            background: url("../images/iconCustomerCall.png") no-repeat;
        }
        div {
            display: flex;
            flex: auto;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 10px;
            p {
                width: 100%;
            }
            span {
                display: inline-block;
                width: 30%;
                font-weight: bold;
            }
        }
    }
    .copyright {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: $therdText;
        line-height: 20px;
        :first-child {
            font-size: $defualteText;
            font-weight: bold;
        }
    }
}
/* icon */
/****** home ******/
/* icon */

/****** camp ******/
/* icon */
.campIcon {
    width: 30px;
    height: 30px;
    font-size: 0;
    background-repeat: no-repeat;
}
.iconAnimal {
    background: url("../images/iconAnimal.png");
}

/****** store ******/
/* icon */

/****** user ******/
/* icon */

/****** member ******/
/* icon */

/****** Form ******/
/* icon */
/* button */
button {
    border: none;
    background: none;
}

/****** button ******/
/* icon */

@media screen and (max-width: 1024px) {
    /****** layout ******/
    /* container */
    /* header */
    /* menu */
    /* footer */

    /****** home ******/

    /****** camp ******/
    /* icon */

    /****** store ******/
    /* icon */

    /****** user ******/
    /* icon */

    /****** member ******/
    /* icon */

    /****** Form ******/
    /* icon */

    /****** button ******/
    /* icon */
}
@media screen and (max-width: 768px) {
    /****** layout ******/
    /* container */
    section.backWrap {
        background: none;
        .wrap {
            width: 100%;
        }
    }
    .containerWrap {
        width: 100%;
    }
    /* header */
    /* menu */
    .menuWrap {
        width: 100%;
    }
    /* footer */

    /****** home ******/
    /* icon */

    /****** camp ******/
    /* icon */

    /****** store ******/
    /* icon */

    /****** user ******/
    /* icon */

    /****** member ******/
    /* icon */

    /****** Form ******/
    /* icon */

    /****** button ******/
    /* icon */
}
