@charset "utf-8";
/* colors */
$PrimaryColor: #3f71d1;
$PrimaryOff: #92b1ed;
$textTitle: #2a2a2a;
$textDefault: #535353;
$textSecondary: #989898;
$backColor: #f5f5f5;
/* input */
$inputColor: #dcdcdc;
/* text size */
$headerTitle: 1.88em; //30px
$titleText: 1.25em; //20px
$defaultText: 0.94em; //15px
$defaultTitle: 1.5em; //24px
$secondText: 0.88em; //14px
$therdText: 0.81em; //13px
$btnText: 16px;
/* radius */
$radiusDefault: 10px;
$radiusSmall: 5px;

/****** user ******/
.userCardType1 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 466px;
    margin: 0 auto;

    .imgWrap {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: url("../images/avatar.png") no-repeat;
        background-size: cover;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .textWrap {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 10px;

        .nickname {
            font-size: $defaultText;
            font-weight: bold;
            color: $textTitle;
        }
    }
}

.userCardType2 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 466px;
    margin: 0 auto;

    .imgWrap {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: url("../images/avatar.png") no-repeat;
        background-size: cover;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .textWrap {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 10px;

        .nickname {
            font-size: $defaultText;
            font-weight: bold;
            color: $textTitle;
        }

        .date {
            font-size: $therdText;
            color: $textSecondary;
        }
    }
}
/*mypage Tab*/
.myTabWrap {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 32px;
    div {
        width: 100%;
        color: $textSecondary;
        text-align: center;
        border-bottom: solid 3px $inputColor;
    }
    div.active {
        color: $textDefault;
        border-bottom: solid 3px $PrimaryColor;
    }
}
.myPageDate {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 32px;
    a {
        width: 100%;
        height: auto;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 10px;
        border: solid 1px $inputColor;
        border-radius: 10px;
        background: $backColor;
        li {
            gap: 10px;
            width: 100%;
            text-align: center;
            font-size: $defaultText;
            color: $textSecondary;
        }
    }
}
/*membership*/
.membershipWrap {
    padding: 20px 32px;
    h4 {
        margin-bottom: 20px;
        font-size: $titleText;
    }
    .memberWrap {
        padding: 50px 45px;
        color: #ffffff;
        background: #0c2c5c;
        border-radius: $radiusDefault;
        .memberTab {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 20px;
            height: 190px;
            div {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                padding: 10px 0;
                border: solid 1px #144287;
                border-radius: $radiusDefault;
                background: #144287;
            }
            div:nth-child(1) {
                height: 100px;
            }
            div:nth-child(2) {
                height: 130px;
            }
            div:nth-child(3) {
                height: 160px;
            }
            div:nth-child(4) {
                height: 190px;
            }
            div.active {
                color: #fcc21b;
                border: solid 1px #fcc21b;
            }
        }
        .memberInfo {
            div {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 30px;
            }
            h4 {
                font-size: $titleText;
                font-weight: normal;
            }
            p {
                display: flex;
                gap: 10px;
                font-size: $therdText;
            }
        }
    }
}
/*customer*/
.customerWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 32px;
    h4 {
        margin-bottom: 20px;
        font-size: $titleText;
    }
    div {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 360px) {
}
