@charset "utf-8";

@import "./mypageStore.scss";

/* colors */
$PrimaryColor: #3f71d1;
$PrimaryOff: #92b1ed;
$textTitle: #2a2a2a;
$textDefault: #535353;
$textSecondary: #989898;
$backColor: #f5f5f5;
/* input */
$inputColor: #dcdcdc;
/* text size */
$headerTitle: 1.88em; //30px
$titleText: 1.25em; //20px
$defaultText: 0.94em; //15px
$defaultTitle: 1.5em; //24px
$secondText: 0.88em; //14px
$therdText: 0.81em; //13px
$btnText: 16px;
/* radius */
$radiusDefault: 10px;
$radiusSmall: 5px;

/****** user ******/
.userCardType1 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 466px;
    margin: 0 auto;

    .imgWrap {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: url("../images/avatar.png") no-repeat;
        background-size: cover;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.textWrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;

    .nickname {
        font-size: $defaultText;
        font-weight: bold;
        color: $textTitle;
    }
}

.userCardType2 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 466px;
    margin: 0 auto;

    .imgWrap {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: url("../images/avatar.png") no-repeat;
        background-size: cover;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.textWrap {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 10px;

    .nickname {
        font-size: $defaultText;
        font-weight: bold;
        color: $textTitle;
    }

    .date {
        font-size: $therdText;
        color: $textSecondary;
    }
}

/*mypage Tab*/
.myTabWrap {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 32px;
    div {
        width: 100%;
        color: $textSecondary;
        text-align: center;
        border-bottom: solid 3px $inputColor;
        transition: 0.3s;
        cursor: pointer;
    }
    div.active {
        color: $textDefault;
        border-bottom: solid 3px $PrimaryColor;
    }
}
.myPageDate {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 32px;
    a {
        width: 100%;
        height: auto;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 10px;
        border: solid 1px $inputColor;
        border-radius: 10px;
        background: $backColor;
        li {
            gap: 10px;
            width: 100%;
            text-align: center;
            font-size: $defaultText;
            color: $textSecondary;
            cursor: pointer;
        }
    }
}
// mypage_userOderCard-----------------------------------
.userOrderBox {
    margin-bottom: 10px;
    .useOrderDateWrap {
        display: flex;
        justify-content: space-between;
        height: 40px;
        margin-bottom: 20px;
        padding: 0 32px;
        div {
            width: 100%;
            color: $textSecondary;
            text-align: center;
            border-bottom: solid 3px $inputColor;
            transition: 0.3s;
        }

        .userOrdercontentBrand {
            font-size: $titleText;
            color: $textTitle;
            font-weight: bold;
        }
    }
    .userOrderStateBox {
        border: 1px solid #31b11c;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 24px;
        font-size: $therdText;
        color: #31b11c;
    }
}
.userOrderinnerMainContent {
    width: 326px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.userOrderPriceWrap {
    width: 530px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    .userOrderNum {
        display: flex;
        gap: 5px;
    }
    .userOrderPrice {
        display: flex;
        align-items: center;
        gap: 10px;
        .userOrderpriceSpan {
            text-decoration: line-through;
            color: $textSecondary;
            font-size: $defaultText;
            font-weight: bold;
        }

        .userOrderpriceMain {
            font-size: $defaultTitle;
            font-weight: bold;
        }
    }
}
.userOrderTotalWrap {
    background-color: #fff;
    padding: 10px 32px;
    // margin-top: 3px;
    .userOrderTotalcontent {
        display: flex;
        justify-content: space-between;
        .userOrderTotalTitle {
            font-size: $titleText;
            font-weight: bold;
        }
        .userOrderPrice {
            font-size: $titleText;
            font-weight: bold;
            color: #f24e1e;
        }
    }
}
// mypage_orderlist---------------------------------------

.OrderListMove {
}
.listMoveBtn {
    color: $PrimaryColor;
    font-weight: bold;
    .iconGo {
        color: $PrimaryColor;
    }
}

/*membership*/
.membershipWrap {
    padding: 20px 32px;
    h4 {
        margin-bottom: 20px;
        font-size: $titleText;
    }
    .memberWrap {
        padding: 50px 45px;
        color: #ffffff;
        background: #0c2c5c;
        border-radius: $radiusDefault;
        .memberTab {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 20px;
            height: 190px;
            div {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                padding: 10px 0;
                border: solid 1px #144287;
                border-radius: $radiusDefault;
                background: #144287;
            }
            div:nth-child(1) {
                height: 100px;
            }
            div:nth-child(2) {
                height: 130px;
            }
            div:nth-child(3) {
                height: 160px;
            }
            div:nth-child(4) {
                height: 190px;
            }
            div.active {
                color: #fcc21b;
                border: solid 1px #fcc21b;
            }
        }
        .memberInfo {
            div {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 30px;
            }
            h4 {
                font-size: $titleText;
                font-weight: normal;
            }
            p {
                display: flex;
                gap: 10px;
                font-size: $therdText;
            }
        }
    }
}
/*userMypageMent*/
.userMypageMent {
    width: 100%;
    padding-top: 10px;
    .userProfile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 50px 32px 0px 32px;
        background: #ffffff;
        .imgWrap {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: url("../images/avatar.png") no-repeat;
            background-size: cover;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .btnModify {
            padding: 5px 10px;
            color: $textSecondary;
            font-size: $therdText;
            border: solid 1px $inputColor;
            border-radius: $radiusSmall;
            transition: 0.3s;
        }
        .btnModify:hover {
            color: $textDefault;
            border: solid 1px $textDefault;
        }
    }
    .userBtnWrap {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 20px 32px 50px 32px;
        background: #ffffff;
    }
}
.userInfoWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 32px;
    background: #ffffff;
    .userInfoBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        span {
            width: 130px;
            color: $textTitle;
            font-weight: bold;
            font-size: $secondText;
        }
    }
}
// mypage_orderView------------------------------------------------
.OrderViewBox {
    .OrderViewInner {
        .OrderViewDateWrap {
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            padding: 10px 32px;
            margin-bottom: 3px;
            .OrderViewNum {
                color: $PrimaryColor;
            }
        }
    }
}
.OrderViewTitle {
    background-color: #fff;
    margin-bottom: 3px;
}
.OrderViewProductWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px 32px;
}
.OrderViewState1 {
    color: $textTitle;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    .orderReviewCompleteBtn {
        font-size: $secondText;
        font-weight: bold;
        color: $textSecondary;
    }
}
.OrderViewState2 {
    display: flex;
    .orderReviewWriteBtn {
        font-size: $secondText;
        font-weight: bold;
        color: $textDefault;
    }
}

.OrderViewProduct {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
}
.OrderViewinnerMain {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    .OrderViewinnerMainImg {
        width: 65px;
        height: 65px;
        border-radius: $radiusSmall;
    }
}
.OrderViewcontentName {
    font-size: $therdText;
    color: $textSecondary;
    font-weight: bold;
    margin-bottom: 5px;
}
.OrderViewcontentBrand {
    font-size: $secondText;
    color: $textTitle;
    font-weight: bold;
}
.OrderViewStateBox {
    padding: 2px 5px;
    font-size: $therdText;
    border: 1px solid #31b11c;
    border-radius: 3px;
    color: #31b11c;
}
.OrderViewPriceWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    margin-bottom: 5px;
    .OrderViewNum {
        display: flex;
    }
    .OrderViewPrice {
        display: flex;
    }
}
.OrderViewTotalcontent {
    display: flex;
    padding: 10px 32px;
}
.OrderViewTotalWrap {
    background-color: #fff;
    .OrderViewTotalcontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .OrderViewTotalTitle {
            font-size: $titleText;
            font-weight: bold;
            color: $textDefault;
        }
        .OrderViewPrice {
            font-size: $titleText;
            font-weight: bold;
            color: #f24e1e;
        }
    }
}

// userReviewModal*********************************
.userReviewModalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100%; /* 부모 요소가 전체 화면을 덮도록 설정 */
    height: 100%;
    // align-items: flex-end;
}
.userReviewModalContent {
    background: #fff;
    position: relative;
    padding: 20px;
    border-radius: 20px 20px 0 0; /* 모서리 둥글게 */
    width: 100%;
    bottom: 0;
    z-index: 1000;
    max-width: 530px; /* 최대 너비 설정 */
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
    .userReviewModalClose {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}
.userReviewModalProduct {
    display: flex;
    height: 65px;
    align-items: center;
    gap: 10px;
    .userReviewModalProductInner {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 5px;
        justify-content: center;
    }
    .userReviewProductImg {
        width: 65px;
        height: 65px;
        border-radius: $radiusSmall;
    }
}
.userReviewModalInputWrap {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 10px;
}
.userReviewModalInput {
    border: 1px solid $inputColor;
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: $secondText;
    font-weight: bold;
    color: $textSecondary;
    margin-top: 10px;
}
.userReviewModalInfoBox {
    height: 31px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.userOrderNickname {
    font-size: $btnText;
    font-weight: bold;
}
.userReviewBtnWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .userReviewBtn1 {
        width: 223px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $PrimaryOff;
        border-radius: 10px;
        .submitBtn1 {
            color: #ffffff;
            font-size: $btnText;
            font-weight: bold;
        }
    }
    .userReviewBtn2 {
        width: 223px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid $inputColor;
        border-radius: 10px;
        .submitBtn2 {
            color: $textDefault;
            font-size: $btnText;
            font-weight: bold;
        }
    }
}
.error {
    color: red;
    font-size: $therdText;
    padding-left: 10px;
}
// mypage_reviewlist-------------------------------
.userReviewListProductWrap {
    display: flex;
    padding: 10px 32px;
    border: 1px solid #000;
    gap: 10px;
    .userReviewListProductImg {
        width: 65px;
        border-radius: 5px;
    }
    .userReviewListProductNames {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        .userReviewListProductBname {
        }
        .userReviewListProductPname {
        }
    }
}
.userReviewListUserInFo {
    border: 1px solid #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    .userReviewListimg {
        width: 80px;
        height: 80px;
    }
}
.userReviewItem {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 20px 32px 20px 32px;
    background-color: #fff;
    border: 1px solid #000;

    .userReviewImg {
        width: 80px;
        height: 80px;
        border-radius: 50px;
    }
}
.userReviewListtextWrap {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    gap: 5px;
}
/*customer*/
.customerWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 32px;
    h4 {
        margin-bottom: 20px;
        font-size: $titleText;
    }
    div {
        display: flex;
        justify-content: space-between;
    }
}
/*userMypageMent*/
.userMypageMent {
    width: 100%;
    padding-top: 10px;
    .userProfile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 50px 32px 0px 32px;
        background: #ffffff;
        .imgWrap {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: url("../images/avatar.png") no-repeat;
            background-size: cover;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .btnModify {
            padding: 5px 10px;
            color: $textSecondary;
            font-size: $therdText;
            border: solid 1px $inputColor;
            border-radius: $radiusSmall;
            transition: 0.3s;
        }
        .btnModify:hover {
            color: $textDefault;
            border: solid 1px $textDefault;
        }
    }
    .userBtnWrap {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 20px 32px 50px 32px;
        background: #ffffff;
    }
}
.userInfoWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 32px;
    background: #ffffff;
    .userInfoBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        span {
            width: 130px;
            color: $textTitle;
            font-weight: bold;
            font-size: $secondText;
        }
    }
}
/*customer*/
.customerWrap {
    .customerToggle {
        padding-top: 10px;
        .toggleTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 32px;
            border-top: solid 1px $inputColor;
            border-bottom: solid 1px $inputColor;
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                li:nth-child(1) {
                    color: $textTitle;
                    font-size: $secondText;
                    font-weight: bold;
                }
                li:nth-child(2) {
                    color: $textSecondary;
                    font-size: $therdText;
                }
            }
        }
        .toggleContent {
            padding: 20px 32px;
            font-size: $secondText;
            line-height: 1.825em;
            border-bottom: solid 1px $inputColor;
        }
    }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 360px) {
}
